*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "cairo", sans-serif;
  }
ul{
    list-style-type: none;
}
a{
    text-decoration: none !important;
}
header{
    background-color: #1f2635;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
header .row div:nth-child(2){
    /* font-size: 27px; */
    text-align: center;
}
header .row div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header .row div:first-child img{
    width: 200px;
    height: auto;
}
header .row div:nth-child(2) h3{
    letter-spacing: 2px;
    font-weight: 500;
    color: #f8f8f8;

}
.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}
.header li{
    position: relative;
    border-radius: 2px;
    padding: 30px 2px;
    text-align: center;
    background-color: #bcccee;
    margin-bottom: 20px;
}
.header > li > a,
.top_nav a{
    color: #000;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .2px;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.header > li > a::before{
    content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #1f2635;;
  bottom: 0;
  left: 0;
  transition: all .5s ease-in-out;
}
.header > li > a:hover:before{
    width: 100%;
    left: 0;
    border-radius: 5px;
}
.header > li > a.active::before{
    width: 100%;
}
.top_nav{
    /* display:flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content:center; */
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin: 20px auto; */
}

.top_nav a{
    border-radius: 4px;
    background-color: #bcccee;;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    height: 80px;
}
.top_nav a:hover{
    color: #1f2635;
}
.top_nav .row div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    text-align: center;
}
.text_content{
    text-align:left;
    width: 100%;
    font-size: small;
    color: #333;
    letter-spacing: 0.5px;
    line-height: 1.6;
}
.advertisment img{
    width: 112%;
    height: 100%;
    position: relative;
    padding: 0 29px;
}
aside{
    background-color: #c3cde21c;
}